a.disabled {
    pointer-events: none;
    cursor: default;

    color: $grayLight;
}

span.error, small.error {
    color: $errorText;
    margin-left: 10px;
}

.hidden {
    display: none;
}

.time {
    color: gray;
    font-style: italic;
}

.icon-vk:before {
    content: "B";
    font-family: sans-serif;
    font-weight: bold; 
}
