 <div id="footer">
  <div class="container">
    <div class="muted message"> <%# t '.message' %> </div>

    <%- unless Rails.env.development? %>
      <!-- VK Widget -->
      <div id="vk_groups"></div>
      <script type="text/javascript">
      VK.Widgets.Group("vk_groups", {mode: 0, width: "300", height: "190"}, 52504667);
      </script>
    <% end %>

  </div>
</div>
